@font-face {
    font-family: 'iconfont';
    /* project id 853666 */
    src: url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.eot');
    src: url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.woff2') format('woff2'), url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.woff') format('woff'), url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.ttf') format('truetype'), url('//at.alicdn.com/t/font_853666_4pxua9kyzyd.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 35px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}